
@{
    ViewBag.Title = "خطا 404";
}

<section class="page-header parallax parallax-4" style="background-image: url(/assets/images/demo/spotted.jpg); background-position: 50% 0px;">
    <div class="overlay dark-0"><!-- dark overlay [1 to 9 opacity] --></div>

    <div class="container">

        <h1>صفحه مورد نظر یافت نشد</h1>

        <!-- breadcrumbs -->
        <ol class="breadcrumb">
            <li><a href="/">خانه</a></li>
            <li class="active">خطا 404</li>
        </ol><!-- /breadcrumbs -->

    </div>
</section>
<section class="padding-xlg">
    <div class="container">
					
        <div class="row">

            <div class="col-md-6 col-sm-6 hidden-xs">
							
                <div class="error-404">
                    404
                </div>
						
            </div>

            <div class="col-md-6 col-sm-6">
						
                <h3 class="nomargin">با عرض پوزش <strong>صفحه مورد نظر یافت نشد </strong></h3>
                <p class="nomargin-top size-20 font-lato text-muted">لطفا برای کسب نتیجه مورد نظر مجددا جستجو نمایید ...</p>

                <!-- INLINE SEARCH -->
                <div class="inline-search clearfix margin-bottom-60">
                    <form action="/search" method="get" class="widget_search">
                        <input type="search" placeholder="جستجو ..." id="s" name="search" class="serch-input">
                        <button type="submit">
                            <i class="fa fa-search"></i>
                        </button>
                        <div class="clear"></div>
                    </form>
                </div>
                <!-- /INLINE SEARCH -->

                <div class="divider nomargin-bottom"><!-- divider --></div>

                <a class="size-16 font-lato" href="/"> بازگشت به صفحه اول </a><i class="glyphicon glyphicon-menu-left margin-right-10 size-12"></i>

            </div>

        </div>
					
    </div>
</section>

