
@{
    ViewBag.Title = "خطا 500";
}

<section class="page-header">
    <div class="container">

        <h1>خطا در پردازش اطلاعات</h1>

        <!-- breadcrumbs -->
        <ol class="breadcrumb">
            <li><a href="/">خانه</a></li>
            <li class="active">خطا 500</li>
        </ol><!-- /breadcrumbs -->

    </div>
</section>
<section>
    <div class="container">
					
        <h2><strong>خطا 500</strong></h2>
        <h2><strong>خطا در پردازش اطلاعات </strong></h2>

        <p>با عرض پوز در هنگام پردازش اطلاعات شما خطایی به وجود اماده است </p>
        <p>برای رفع این مشکل ، لطفا پس از چند لحظه تامل مجددا تلاش خوش را انجام دهید . درصورت رفع نشدن موضوع می توانید مشکل خود را با مدیران سایت ابلاغ بفرمایید ...</p>
    </div>
</section>
