@model Partosazancnc.Models.ViewModels.socialViewModel
<section class="parallax parallax-2" style="background-image: url('/img/3-min.jpg');">
    <div class="overlay dark-8"><!-- dark overlay [1 to 9 opacity] --></div>

    <div class="container">

        <div class="text-center">
            <h3 class="nomargin">مارا در شبکه های مجازی دنبال کنید </h3>
            <p class="font-lato weight-300 lead nomargin-top">تجربیات خود را با دیگران به اشتراک بگذارید و همچنین ، ما را در شبکه های اجتماعی دنبال کنید.</p>
        </div>

        <ul class="margin-top-80 social-icons list-unstyled list-inline " style="text-align: center;">
            <li>
                <a target="_blank" href="@Model.FaceBook">
                    <i class="fa fa-facebook"></i>
                    <h4>فیسبوک</h4>
                </a>
            </li>
            <li>
                <a target="_blank" href="@Model.Telegram">
                    <i class="fa fa-send"></i>
                    <h4>تلگرام</h4>
                </a>
            </li>
            <li>
                <a target="_blank" href="@Model.Aparat">
                    <i class="fa fa-video-camera"></i>
                    <h4>آپارات</h4>
                </a>
            </li>
            <li>
                <a target="_blank" href="@Model.Instagram">
                    <i class="fa fa-instagram"></i>
                    <h4>اینستاگرام</h4>
                </a>
            </li>
            
        </ul>

    </div>

</section>
